<div class="griff-card-list-example">
    <griff-card>
        <h1 class="griff-card-title">
            Full Card!
        </h1>
        <div>
            Content of a full griff card!
        </div>
        <button griff-card-tool>Card tool 1</button>
        <button griff-card-tool>Card Tool 2</button>
    </griff-card>
    <griff-card class="red">
        <div>This is a card without a title!</div>
        <button griff-card-tool>Red tool</button>
    </griff-card>
    <griff-card>
        <h1 class="griff-card-title">
            I am just a title and nothing more!
        </h1>
    </griff-card>
</div>
