:host {
    .griff-card-list-example {
        display: flex;
        flex-direction: column;

        griff-card {
            margin: 5px;
        }

        .red {
            color: red;
        }
    }
}
